.bbwd-flex{
    display: flex;
}
.bbwd-full-center{
    justify-content: center;
	align-items: center;
}
.bbwd-post-child{
	padding: 50px 0;
}
.bbwd-post-child a{
	color: black;
}
.bbwd-post-data a{
	width: 100%;
}
.bbwd-post-image {
    width: 250px;
}
.bbwd-post-child p{
	font-family: Poppins;
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	letter-spacing: 0em;
	text-align: left;
}
.bbwd-post-child .bbwd-dis-title {
    font-family: Poppins;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 8px;
}
.bbwd-post-date{
	font-family: Poppins;
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	letter-spacing: 0em;
	text-align: left;
	color: #8F8F8F;
}
.bbwd-tag-wrap{
    padding: 20px 0;
	text-align: center;
}
.bbwd-post-inner{
    text-align: left;
	gap: 50px;
}
.bbwd-post-inner img{
	width: 346px;
	height: 156px !important;
	border-radius: 10px !important;
	object-fit: cover; 
}
p.bbwd-post-tag-title{
    display: inline;
    margin: auto;
}
.bbwd-post-data{
	flex-flow: column;
	justify-content: space-between;
}
.bbwd-title-container .bbwd-tag-line {
    height: 2px;
    background: black;
    width: 100%;
    margin: 11px;
}

.bbwd-title-container{
	margin-bottom: 40px;
}

/*Overrides*/
.searchandfilter li[data-sf-field-input-type=checkbox] label, .searchandfilter li[data-sf-field-input-type=radio] label, .searchandfilter li[data-sf-field-input-type=range-radio] label, .searchandfilter li[data-sf-field-input-type=range-checkbox] label{
	padding-left: 0 !important;
}
.bp-styles form ul li li:not(.sf-option-active):hover{
	background: rgba(0, 0, 0, .1);
}
.bp-styles form ul li li label:hover, .bp-styles form ul li li:hover{
	cursor: pointer;
}
@media only screen and (max-width: 853px) {
	.bp-styles form ul ul:first-child {
        flex-wrap: wrap !important;
        gap: 0;
        justify-content: center !important;
        align-items: center;
        padding: 20px;
    }
	.bbwd-feat-link{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
@media only screen and (max-width: 767px) {
	.bbwd-post-inner {
		flex-flow: column;
		gap: 20px;
	}
	.bbwd-post-image, .bbwd-post-inner img{
		width: 100%;
		height: unset !important;
	}
}